/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  position: relative;
  padding: 2% 10% 8%;
}

.h1 {
  font-size: 3rem;
  font-family: "arial";
  line-height: 1.5;
  text-decoration: bold;
}

.phone {
  right: 20%;
  top: 5%;
  position: absolute;
  width: 20%;
  transform: rotate(25deg);
}

.content-row {
  padding: 10px;
}

/* Navbar CSS */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-links {
  font-family: "Montserrat-light";
  font-size: 1.5rem;
  font-weight: bold;
}

.download-btn {
  margin: 5% 5% 5% 0;
  padding: 3%;
}

/* Feauture Section */
#features {
  position: relative;
  background-color: #FEFFE2;
  padding: 15%;
}

.new-row {
  text-align: center;
  padding: 0 50px;
}

.h3 {
  font-family: "arial";
  font-weight: bold;
  font-size: 1rem;
}

.new-row p {
  font-family: arial;
  text-align: center;
  font-size: 0.75rem;
  color: #515E63;
}

.fas{
  color: red;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  color: #fff;
  background-color: #FF4848;
  font-family: "Montserrat-black";
  line-height: 1.5;
}

.testimonial-text {
  font-size: 3rem;
  text-decoration: bold;
}

.testimonial-img-1 {
  width: 15%;
  margin-right: 20px;
}

.testimonial-img-2 {
  width: 15%;
  margin-right: 20px;
  border-radius: 100%;
}

.testimonial-img-3 {
  width: 15%;
  margin-right: 20px;
  border-radius: 100%;
}

/* Press Section */
#press {
  background-color: #FF4848;
  text-align: center;
}

.press-mg {
  width: 15%;
  text-align: center;
  padding: 2% 3%;
  margin: 5% 1%;
}

.carousel-item {
  padding: 2% 20% 5%;
}

/* Pricing  */
#pricing {
  text-align: center;
  color: #515E63;
  background-color: #F1E9E5;
  font-family: "Verdana";
  line-height: 1;
  padding: 25px 3px;
}

.card {
  margin: 0 25px;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-block {
  width: 100%;
}

@media(max-width: 750px) {
  .title {
    text-align: center;
  }

  .phone {
    transform: rotate(0);
  }
}

/* CTA */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 10%;
}

.btn-lg {
  text-align: center;
  padding: 5px;
  font-family: "Verdana";
  margin: 10px;
}

.fab {
  padding: 10px;
}

.fa-google-play {
  color: black;
}

.black-btn {
  color: black;
}

.text {
  color: #fff;
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  font-weight: : bold;
}

/* FOOTER */
#footer {
  text-align: center;
  background-color: #fff;
  padding: 10% 12%;
}

.fav-con {
  margin: 0 10%;
}

.copyright {
  color: gray;
  font-family: arial;
  font-size: .9rem;
}
